XSDs/vendedor.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://model/vendedor" version="1.0">
 
  <xs:complexType name="vendedor">
	<xs:sequence>
  	<xs:element name="seqVendedor" type="xs:long"/>
  	<xs:element name="nome" type="xs:string"/>
  	<xs:element name="documento" type="xs:string"/>
	</xs:sequence>
  </xs:complexType>
</xs:schema>